@charset "UTF-8";

#wrap {
	width: 800px;
}

header {
	height: 50px;
	background-color: #99FFFF;
}

#icon:hover {
	text-decoration: none;
}

.contents {
	
}

.sign-up-box {
	background-color: #CFFCF7;
	width: 600px;
}

.login-part {
	background-color: #CFFCF7;
	width: 500px;
}

.btnCss {
	color: #fff;
}

#file {
	display: none;
}

.userId-part {
	background-color: #99FFFF;
}

.comment-icon-part {
	background-color: #99FFFF;
}

#deletePostBtn {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
}

#fileDownloadIcon {
	font-size: 20px;
}

#imageIcon {
	font-size: 100px;
}