@charset "UTF-8";

#wrap {
	width: 800px;
}

header {
	height: 50px;
	background-color:#99FFFF;
}

#icon:hover {
	text-decoration:none;
}

.contents {
	
}

.sign-up-box {
	background-color: #CFFCF7;
	width:600px;
}

.login-part {
	background-color: #CFFCF7;
	width:500px;
}

.btnCss {
	color: #fff;
}